doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title Ride Along

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Amatic+SC')
    link(rel='stylesheet', href='styles/all.css')

  body
    header.header
      ul
        li
          a(href='') Who are we?
        li
          a(href='') Contact Us
      button.button Donate
    hero.hero
      .content
        .hero-image
          .bike
        .hero-content
          h1 {ride along /}
          p A free programme for schools, partnering with aspirational tech companies to bring technology experts into classrooms, develop materials for teachers, and address the key IT curriculum for Australian students.
          .logo
            p.font-small Proudly Sponsored by
            .amazon
        .call-action
          .card.pilot
            .border
              .image
              p
                | For
                b  Teacher
                | , apply for our
              button.button Pilot Program
          .card.partner
            .border
              .image
              p
                | For
                b  Companies
                | , become our
              button.button Tech Partner
          .card.mail
            .border
              .image
              p
                | Keep in touch with our
                b  Annoucement
              button.button Mailing List
          .card.donate
            .border
              .image
              p
                | Help us by
                b  donate
                |  & support
                b  UNICEF
              button.button Donate

    .edutech
      .content
        h2 Thank you for visiting us at EduTech 2017!
        .edutech-logo
        ul.images
          li &nbsp;
          li &nbsp;
          li &nbsp;




    .benefit
      .content
        h2 Why Ride Along?
        .block.connect-education
          h4 Building relationship with futurists in education
          p.stats
            strong 22
            |  schools in our network and growing...
          .descriptions
            .image
            .column
              p.title To connecting with passionate educators
              p What is Teacher’s need?
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
            .column
              p.title How we will help
              p Produce classroom materials
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived

          .quote-block
            .avatar
            p.quote “Teacher Quote quote quote  Why this is good idea”
            p.name
              | —Teacher’s name,
              br
              | Temporary High School,
              br
              | Somerset

        .block.aspiration-career
          h4 Making tech career “aspirational” to build future talent pipeline
          p.stats
            strong XX
            |  Demand in the market -
            strong xxx
            | tshort on tech talent every years by xxx
          .descriptions
            .column
              p.title Personal stories from people in the industry to inspire students
              p Be the 1st company to help them dream
              p Opening up new career opportunities for students
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            .column
              p.title Finding career goal, usually you need a role model
              p Educator needs experience people to help bridge the gap
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
            .image
          .quote-block
            .avatar
            p.quote “We don’t have Elon Musk in Australia... ”
            p.name
              | —Someone who talk tech education
              br
              | Temporary High School,
              br
              | Somerset
        .block.tangible-workshop
          h4 Driving tangible positive impact in education with technology
          p.stats
            strong XX
            |  Build your dream fast. Unicorn entrepreneur
          .descriptions
            .image
            .column
              p.title See how tech empowers people to achieve their dream in 1 day
              p 1-day workshop
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            .column
              p.title  Prototyping career.
              p Design experience to help sutdents discover. We are connect to tech industry
              p Short but effective.
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived

          .quote-block
            .avatar
            p.quote “It’s prototyping career”
            p.name
              | —Our network
              br
              | Google


    .contact.hero
      .content
        h2 Help us!
        .call-action
          .card.pilot
            .border
              .image
              p
                | For
                b  Teacher
                | , apply for our
              button.button Pilot Program
          .card.partner
            .border
              .image
              p
                | For
                b  Companies
                | , become our
              button.button Tech Partner
          .card.mail
            .border
              .image
              p
                | Keep in touch with our
                b  Annoucement
              button.button Mailing List
          .card.donate
            .border
              .image
              p
                | Help us by
                b  donate
                |  & support
                b  UNICEF
              button.button Donate