doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title Ride Along

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Amatic+SC')
    link(rel='stylesheet', href='styles/all.css')

  body
    hero.hero
      .content
        .hero-image
          .bike
        .hero-content
          h1 {ride along /}
          p Free event for school, partnering with aspirational tech firms to address the key IT curriculum for Australian students year 7-9
          .logo
            .amazon Amazon
          button.button signup

    benefit.benefit
      .content
        p Free event for school, partnering with aspirational tech firms to address the key IT curriculum for Australian students year 7-9


    sponsor.sponsor
      .content
        p Free event for school, partnering with aspirational tech firms to address the key IT curriculum for Australian students year 7-9

