doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title Ride Along

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Amatic+SC')
    link(rel='stylesheet', href='styles/all.css')

  body
    header.header
      ul
        li
          a(href='') Who are we?
        li
          a(href='') Contact Us
      button.button Donate
    hero.hero
      .content
        .hero-image
          .bike
        .hero-content
          h1 {ride along /}
          p A free programme for schools, partnering with aspirational tech companies to bring technology experts into classrooms, develop materials for teachers, and address the key IT curriculum for Australian students.
          .logo
            p.font-small Proudly Sponsored by
            .amazon
        .call-action
          .card.pilot
            .border
              .image
              p
                | For
                b  Teacher
                | , apply for our
              button.button Pilot Program
          .card.partner
            .border
              .image
              p
                | For
                b  Companies
                | , become our
              button.button Tech Partner
          .card.mail
            .border
              .image
              p
                | Keep in touch with our
                b  Annoucement
              button.button Mailing List
          .card.donate
            .border
              .image
              p
                | Help us by
                b  donate
                |  & support
                b  UNICEF
              button.button Donate

    benefit.benefit
      .content
        p Free event for school, partnering with aspirational tech firms to address the key IT curriculum for Australian students year 7-9


    sponsor.sponsor
      .content
        p Free event for school, partnering with aspirational tech firms to address the key IT curriculum for Australian students year 7-9

