doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title Ride Along

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Amatic+SC')
    link(rel='stylesheet', href='styles/style.css')

  body
    hero.hero
      .content
        h1 {RIDE ALONG /}
          p Free event for school, partnering with aspirational tech firms to address the key IT curriculum for Australian students year 7-9
          .logo
            .amazon
          button.btn signup

    benefit.benefit
      .content


    sponsor.sponsor
      .content

